<html layout:decorate="~{global/layout}">
<div layout:fragment="content">
    <div class="container my-3">
        <h2>
            <span style="color:orange"  th:text="${username}"></span><span>님의 작성글</span>
        </h2>
    <table class="table my-3">
        <thead>
        <tr class="text-center table-secondary">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr class="text-center" th:each="article, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/post/b/${article.author.username}/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td>
                <span th:if="${article.author != null}" th:text="${article.author.username}"></span>
            </td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    </div>

    <!-- 페이징 처리 -->
    <div th:if="${!paging.isEmpty}">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item">
                <a class="page-link" th:if="${paging.hasPrevious}" th:href="@{|?page=${paging.number-1}|}">이전</a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${paging.number == page} ? 'active'"
                th:if="${page >= paging.number-5 and page <= paging.number+5}">
                <a class="page-link" th:text="${page+1}" th:href="@{|?page=${page}|}" ></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${paging.hasNext}" th:href="@{|?page=${paging.number+1}|}">다음</a>
            </li>
        </ul>
    </div>
</div>
</html>


