<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, loop : ${paging}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/post/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징 처리 -->
    <div th:if="${!paging.isEmpty}">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item">
                <a class="page-link" th:if="${paging.hasPrevious}" th:href="@{|?page=${paging.number-1}|}">이전</a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${paging.number == page} ? 'active'"
                th:if="${page >= paging.number-5 and page <= paging.number+5}">
                <a class="page-link" th:text="${page+1}" th:href="@{|?page=${page}|}" ></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${paging.hasNext}" th:href="@{|?page=${paging.number+1}|}">다음</a>
            </li>
        </ul>
    </div>
    <a th:href="@{/post/write}" class="btn btn-primary">글쓰기</a>
</div>
</html>


